/* Enroll Page */

.header{
    @apply w-full h-screen bg-hero bg-cover flex justify-center animate-fade-in;
}

.content{
    @apply bg-black bg-opacity-80 h-full text-center flex flex-col justify-center items-center w-6xl relative px-8;
}

.logo{
    @apply scale-50 absolute top-0 -right-8;
}

.title{
    @apply text-white text-3xl md:text-5xl my-8 relative mx-auto w-auto text-center mb-8 md:mb-12;
}

.title::before{
    content: '';
    @apply py-0.5 px-24 bg-primary-100 absolute -bottom-4 left-1/2 sm:px-36 md:py-1 md:-bottom-6;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.paragraph-red,
.paragraph-blue{
    @apply text-lg md:text-2xl;
}

.paragraph-red{
    @apply text-primary-100  mb-6 md:mb-10;
}

.paragraph-blue{
    @apply text-primary-200;
}

.list{
    @apply flex flex-col gap-5;
}

.list-item{
    @apply text-white text-xl md:text-3xl whitespace-nowrap;
}

.prompt{
    @apply text-zinc-400 mb-8;
}

.footer{
    @apply text-zinc-300 absolute bottom-2;
}