/* Enroll Page */

.header{
    @apply w-full h-screen bg-gradient-to-tr from-cyan-300 to-pink-300 flex justify-center items-center animate-fade-in;
}

.content{
    @apply bg-black rounded-3xl h-7xl justify-center flex flex-col w-6xl relative px-8 mx-12 shadow-form-shadow;
}

.logo{
    @apply scale-50 absolute top-0 -right-8;
}

.title{
    @apply text-white text-xl md:text-3xl my-8 relative mx-auto w-auto mb-16;
}

.title::before{
    content: '';
    @apply py-0.5 px-24 bg-primary-100 absolute -bottom-4 left-1/2 sm:px-36 md:py-1 md:-bottom-6;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.button{
    @apply text-white text-2xl bg-primary-100 px-8 py-4 rounded-full transition-all
    uppercase tracking-widest shadow-main-button mr-16
    hover:bg-primary-200 hover:shadow-none;
}

.paragraph{
    @apply md:text-lg text-zinc-500 mb-12;
}

.footer{
    @apply text-zinc-300 bg-black h-24 flex justify-center items-center w-full;
}

// Form styling

.user-box {
    @apply relative;
}
  
.user-box input {
    @apply focus:border-b-primary-100 valid:border-b-primary-100 transition-all w-full p-2 
    text-lg text-white mb-7 border-b-2 outline-none bg-transparent;
}

.user-box label {
    @apply absolute top-0 left-0 py-2 text-lg text-white pointer-events-none transition-all;
}
  
.user-box input:focus ~ label,
.user-box input:valid ~ label {
    @apply text-primary-100 -top-5 text-sm left-0;
}

.select{
    @apply w-full p-2 focus:border-b-primary-100 transition-all
    text-lg text-white mb-7 border-b-2 outline-none bg-transparent;
}

.select option{
    @apply bg-black;
}